@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  html {
    overflow-x: clip;
    width: 100vw;
  }
  body {
    @apply antialiased text-black;
    overflow-x: clip;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  #root {
    width: 100vw;
    overflow-x: clip;
  }
}
